@import "reset"

html
    height: 100%

body
    min-height: 100%
    font-family: "Helvetica Neue", sans-serif
    text-align: center

h1, h2, h3, h4, h5, h6
    font-weight: 300

.pure-button
    font-size: 80%

#header
    color: #333
    text-align: center
    h2
        color: #ccc
        font-weight: 100

.add-item
    text-align: center
    input
        width: 100%

.todo-list
    text-align: center

.todo-item
    padding: .5em 0
    text-align: left
    position: relative
    p
        display: inline
        padding: 0 .5em
        font-size: 90%
    .priority
        font-size: 80%
        margin-top: .35em
    .delete, .edit, .priority
        float: right
        padding-left: 1em
        padding-right: 1em
        margin-left: 1em
