<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>ToDo</title>
    <link rel="stylesheet" href="/styles/base.css" />
</head>
<body>
    <div class="pure-g-r">
        <header id="header" class="pure-u-1">
            <h1>TopDo</h1>
        </header>

        <div id="main" class="pure-u-2-5"></div>
    </div>

    <script type="text/x-handlebars-template" id="login-template">
        <h2>Log in</h2>
        <form class="pure-form pure-form-stacked login-form" method="post">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" />
            <label for="password">Password</label>
            <input type="password" id="password" name="password" />
            <button class="pure-button pure-button-primary">Login</button>
        </form>
        <a href="#register">Register</a>
    </script>

    <script type="text/x-handlebars-template" id="register-template">
        <h2>Register</h2>
        <form class="pure-form pure-form-stacked register-form" method="post">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" />
            <label for="password">Password</label>
            <input type="password" id="password" name="password" />
            <button class="pure-button pure-button-primary">Register</button>
        </form>
        <a href="#login">Log in</a>
    </script>

    <script type="text/x-handlebars-template" id="main-template">
        <div class="add-item pure-form">
            <input id="add-todo" placeholder="Add item" type="text" />
        </div>
        <ul class="todos"></ul>
    </script>

    <script type="text/x-handlebars-template" id="todo-item-template">
        <input type="checkbox" {{#if done}}checked{{/if}} />
        <p>{{title}}</p>
        <button class="pure-button delete" title="Delete">X</button>
        <button class="pure-button edit">Edit</button>
        <select class="priority">
            {{#select priority}}
            <option value="urgent">urgent</option>
            <option value="normal">normal</option>
            <option value="low">low</option>
            {{/select}}
        </select>
    </script>

    <script src="/scripts/vendor.js"></script>
    <script src="/scripts/app.js"></script>
    <script>App.init()</script>
</body>
</html>
